<ul>
    <li [ngbNavItem]="child.route" *ngFor="let child of items">
        <!-- Branches -->
        <ng-container *ngIf="child.children">
            <div [ngbNavItem]="child.route" ngbDropdown [autoClose]="true" display="dynamic"
                [placement]="['end-top', 'end']">
                <button ngbDropdownToggle>
                    <i class="{{child.icon}}"></i>
                    <span>{{child.title}}</span>
                </button>
                <div ngbDropdownMenu>
                    <app-menu-item #menu [items]="child.children"></app-menu-item>
                </div>
            </div>
        </ng-container>
        <!-- Leaves  -->
        <a *ngIf="!child.children" [ngbNavItem]="child.route" ngbNavLink routerLinkActive="active" ngbDropdownItem
            [routerLink]="child.route">
            <i class="{{child.icon}}"></i>
            <span>{{child.title}}</span>
        </a>
    </li>
</ul>



<!-- <ul>
    <ng-container *ngFor="let child of items">
        <ng-container *ngIf="child.children">
            <li ngbNavItem ngbDropdown [autoClose]="true" display="dynamic" [placement]="['end-top', 'end']">
                <button ngbDropdownToggle>
                    <i class="{{child.icon}}"></i>
                    <span>{{child.title}}</span>
                </button>
                <div ngbDropdownMenu>
                    <app-menu-item #menu [items]="child.children"></app-menu-item>
                </div>
            </li>
        </ng-container>

        <li>
            <a *ngIf="!child.children" [ngbNavItem]="child.route" ngbNavLink routerLinkActive="active" ngbDropdownItem
                [routerLink]="child.route">
                <i class="{{child.icon}}"></i>
                <span>{{child.title}}</span>
            </a>
        </li>
    </ng-container>
</ul> -->