<div [ngbNavItem]="item.route" *ngFor="let item of menuItems">
    <!-- Branches -->
    <ng-container *ngIf="item.children">
        <div [ngbNavItem]="item.route" ngbDropdown [autoClose]="true" display="dynamic" [placement]="['end-top', 'end']"
            class="nav-item dropdown">
            <button ngbDropdownToggle class="nav-link btn-info dropdown-toggle">
                <i class="{{item.icon}}"></i>
                {{item.title}}
            </button>
            <div ngbDropdownMenu>
                <app-item-builder #menu [menuItems]="item.children"></app-item-builder>
                <!-- <app-item-builder #menu [menuItems]="item.children"></app-item-builder> -->
            </div>
        </div>
    </ng-container>
    <!-- Leaves  -->
    <a *ngIf="!item.children" ngbDropdownItem [ngbNavItem]="item.route" ngbNavLink
        [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="item.route"
        class="dropdown-item">
        <i class="{{item.icon}}"></i>
        {{item.title}}
    </a>
</div>