<a routerLink="/" routerLinkActive="active">Hommme</a>
<a routerLink="/page1" routerLinkActive="active">PPPP111 {{route.url | async | json}}</a>
<br>
<b>{{currentUrl | async }}</b>
<b>{{ (routeUrl | async)?.url }}</b>


<nav ngbNav [activeId]="(routeUrl | async)?.url" class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn" ngbDropdownToggle>
                        Меню
                    </button>
                    <div ngbDropdownMenu>
                        <button routerLink="/" class="dropdown-item" ngbDropdownItem>Домой</button>
                        <div ngbDropdown display="dynamic" [placement]="['end-top', 'end']" #dropdown="ngbDropdown"
                            (mouseenter)="openMenu(dropdown)">
                            <button class="" ngbDropdownToggle>
                                Вложенное меню
                            </button>
                            <div ngbDropdownMenu>
                                <button routerLink="/page1" class="dropdown-item" ngbDropdownItem>Пункт вложенного меню
                                    1 /page1</button>
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
                            </div>
                        </div>
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn" ngbDropdownToggle>
                        Меню
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
                        <div ngbDropdown display="dynamic" [placement]="['end-top', 'end']" #dropdown="ngbDropdown"
                            (mouseenter)="openMenu(dropdown)">
                            <button class="" ngbDropdownToggle>
                                Вложенное меню
                            </button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
                            </div>
                        </div>
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
</nav>

<br>
mini
<ul ngbNav [activeId]="(routeUrl | async)?.url" class="nav-tabs" (click)="openMenu('')">
    <li [ngbNavItem]="link.route" *ngFor="let link of menuItems">
        <a ngbNavLink [routerLink]="link.route">{{ link.title }}</a>
    </li>
</ul>

<!-- <ul ngbNav [activeId]="route.url | async" class="nav-item navbar-expand-md">
    <div id="navbarsDefault">
        <li [ngbNavItem]="link.route" *ngFor="let link of menuItems">
            <a ngbNavLink [routerLink]="link.route">{{ link.title }}</a>
        </li>
    </div>

</ul> -->

<!-- <ng-container *ngFor="let item of value">
    iterate: {{item.title}} <br />
    <ng-container *ngIf="item.children">
      start {{value.title}}
      <m-dimensional-view
        *ngFor="let item of value"
        class="m-dimensional-view"
        [stringify]="stringify"
        [value]="item.children"
      >
      </m-dimensional-view>
    </ng-container>

    <ng-container *ngIf="!item.children">
      noChildren: {{item.title}}<br />
      <ng-container
        *ngTemplateOutlet="itemView, context: {$implicit: item}"
      ></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #itemView let-item> final: {{item.title}}<br /> </ng-template> -->