<p>menu works!</p>
<a routerLink="/page1" routerLinkActive="active-link">Go to page1</a>
<a routerLink="/home" routerLinkActive="active-link">Go to Home</a>

<ul ngbNav [activeId]="route.url | async" class="nav-item navbar-expand-md">
    <div id="navbarsDefault">
        <li [ngbNavItem]="link.route" *ngFor="let link of menuItems">
            <a ngbNavLink [routerLink]="link.route">{{ link.title }}</a>
        </li>
    </div>

</ul>

<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                        Меню
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
                        <div ngbDropdown display="dynamic" [placement]="['end-top', 'left']" #dropdown="ngbDropdown"
                            (mouseenter)="openMenu(dropdown)" (click)="preventClose($event)">
                            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                                Вложенное меню
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
                            </div>
                        </div>
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
</nav>

<br>

<div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        Меню
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
        <div ngbDropdown [placement]="['end-top', 'left']" #dropdown="ngbDropdown" (mouseenter)="openMenu(dropdown)"
            (click)="preventClose($event)">
            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                Вложенное меню
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
            </div>
        </div>
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
    </div>

    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        Меню 2
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
        <div ngbDropdown [placement]="['end-top', 'left']" #dropdown="ngbDropdown" (mouseenter)="openMenu(dropdown)"
            (click)="preventClose($event)">
            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                Вложенное меню
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
            </div>
        </div>
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
    </div>

    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        Меню 3
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
        <div ngbDropdown [placement]="['end-top', 'left']" #dropdown="ngbDropdown" (mouseenter)="openMenu(dropdown)"
            (click)="preventClose($event)">
            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                Вложенное меню
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
            </div>
        </div>
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
    </div>

    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        Меню 4
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
        <div ngbDropdown [placement]="['end-top', 'left']" #dropdown="ngbDropdown" (mouseenter)="openMenu(dropdown)"
            (click)="preventClose($event)">
            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                Вложенное меню
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
            </div>
        </div>
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
    </div>

    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
        Меню 5
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
        <div ngbDropdown [placement]="['end-top', 'left']" #dropdown="ngbDropdown" (mouseenter)="openMenu(dropdown)"
            (click)="preventClose($event)">
            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                Вложенное меню
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
            </div>
        </div>
        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
    </div>


</div>


<br>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>
                        Меню
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 1</button>
                        <div ngbDropdown display="dynamic" [placement]="['end-top', 'left']" #dropdown="ngbDropdown"
                            (mouseenter)="openMenu(dropdown)" (click)="preventClose($event)">
                            <button class="" id="dropdownMenu2" ngbDropdownToggle>
                                Вложенное меню
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenu2" (mouseleave)="closeMenu(dropdown)">
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 1</button>
                                <button class="dropdown-item" ngbDropdownItem>Пункт вложенного меню 2</button>
                            </div>
                        </div>
                        <button class="dropdown-item" ngbDropdownItem>Пункт меню 2</button>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
</nav> -->


<br>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
</nav> -->